/*--------------------------------------------------------------------
LAYOUT - AWARDS

Version:    1.0 - 2013
author:     Burocratik (alexandre r. gomes)
email:      alex@burocratik.com
website:    http://www.burocratik.com
-----------------------------------------------------------------------*/
/*-------------------------------------------------------------------------
=CSSAWARDS http://www.cssawards.net/website/never-saw-the-light-of-day/
-------------------------------------------------------------------------*/
#cssawards{position: fixed; top: 0px; left: 0px; z-index: 855; }
#cssawards a{
    width: 125px; height: 125px; text-indent: -8000px; display: block;
    background: url(../../../www.cssawards.net/badges/cssa-sotd-default-left.html) no-repeat;
}


/*-------------------------------------------------------------------------
=AWWWARDS
-------------------------------------------------------------------------*/
/* --- Awwwards ../imgs/ribbons --- */

/* Base */

#awwwards, #awwwardsDev {
    position:absolute;
    top:60px;
    z-index:999;
}
#awwwardsDev {top:170px;}
/* Left */

#awwwards.left {
    left:0;
}

/* Right */

#awwwards.right, #awwwardsDev.right {right:0;}

/* Link */

#awwwards a, #awwwardsDev a {
    display:block;
    width:70px;
    height:105px;
    text-indent:-8000px;
    background-repeat:no-repeat;
    background-position: 0 0;
    overflow:hidden;
    display: block;
}
#awwwardsDev a {width:65px; height:195px;}
#awwwardsDev a {width:40px; height:120px;}

/* Black */

#awwwards.left.black a {
    background-image:url('../imgs/awards/awwwards_sotd_black_left.png');
}
#awwwards.right.black a {
    background-image:url('../imgs/awards/awwwards_sotd_black_right2x.png');
    background-size: 70px 105px;
}
#awwwardsDev.right.black a {
    background-image:url('../imgs/awards/awwards-label-developer.svg');
    background-size: 40px 120px;
}


/* White */

#awwwards.left.white a {
    background-image:url('../imgs/ribbons/awwwards_sotd_white_left.html');
}
#awwwards.right.white a {
    background-image:url('../imgs/ribbons/awwwards_sotd_white_right.html');
}

/* Green */

#awwwards.left.green a {
    background-image:url('../imgs/ribbons/awwwards_sotd_green_left.html');
}
#awwwards.right.green a {
    background-image:url('../imgs/ribbons/awwwards_sotd_green_right.html');
}


/* MEDIA QUERIES */

/* Landscape phone to portrait tablet */

@media (max-width: 767px) {

    /* hidden */
    #awwwards {
/*      display: none; */
    }

}

/* Retina Displays */

/* Target any device with retina display (ie iPad 3 and MacBook Pro) */

@media
only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {

    #awwwards a {
        -moz-background-size: 70px 105px;
        -ie-background-size:70px 105px;
        -o-background-size:70px 105px;
        -webkit-background-size:70px 105px;
        background-size:70px 105px;
    }

    /* Gray */

    #awwwards.left.black a {
        background-image:url('../imgs/ribbons/awwwards_sotd_black_left2x.html');
    }
    #awwwards.right.black a {
        background-image:url('../imgs/ribbons/awwwards_sotd_black_right2x.html');
    }

    /* White */

    #awwwards.left.white a {
        background-image:url('../imgs/ribbons/awwwards_sotd_white_left2x.html');
    }
    #awwwards.right.white a {
        background-image:url('../imgs/ribbons/awwwards_sotd_white_right2x.html');
    }

    /* Green */

    #awwwards.left.green a {
        background-image:url('../imgs/ribbons/awwwards_sotd_green_left2x.html');
    }
    #awwwards.right.green a {
        background-image:url('../imgs/ribbons/awwwards_sotd_green_right2x.html');
    }

}



/* --- CSSDA --- */

/* Base */

#cssda {
    position:absolute;
    top:238px;
    z-index:999;
}

/* Left */

#cssda.left {
    left:0;
}

/* Right */

#cssda.right {
    right:0;
}

/* Link */

#cssda a {
    display:block;
    width:68px;
    height:96px;
    text-indent:-8000px;
    background-repeat:no-repeat;
    background-position: 0 0;
    overflow:hidden;
}


/* White */

#cssda.left.white a {
    background-image:url('../imgs/ribbons/css-design-awards-winner-left-white.html');
}






/* --- ED AWARDS --- */
#edawards {
	position:absolute;
	top:150px;
	z-index:999;
}

#edawards.left {
	left:0;
}

#edawards a {
	display:block;
	width:73px;
	height:43px;
	text-indent:-8000px;
	background-repeat:no-repeat;
	background-position: 0 0;
	overflow:hidden;
}

#edawards.left a {
	background-image:url('../imgs/ribbons/ed-gold.html');
}


/* MEDIA QUERIES */

@media (max-width: 767px) {

	/* hidden */
	#edawards {
/* 		display: none; */
	}

}

/* Retina Displays */

/* Target any device with retina display (ie iPad 3 and MacBook Pro) */

@media
only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {

	#edawards a {
		-moz-background-size: 73px 43px;
		-ie-background-size:73px 43px;
		-o-background-size:73px 43px;
		-webkit-background-size:73px 43px;
		background-size:73px 43px;
	}


	/* White */

	#awwwards.left a {
		background-image:url('../imgs/ribbons/ed-gold2x.html');
	}

}



/** custom modal css
-----------------------------**/
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.modal-open {
  overflow: hidden;
}
.modal.fade.in{
    top: 0% !important;
}
.modal-header {
    padding: 15px 15px 30px 0 !important;
    border-bottom: 1px solid #e5e5e5;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal img{
    max-width: 100%;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
    

@media screen and (max-width: 768px){
    .modal.fade.in {
        top: 15% !important;
    }
}