@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
  font-family: 'Roboto', sans-serif!important;
}
p{
  font-family: 'Roboto', sans-serif!important;
}
.padding-zero{
	padding:0px;
}
.about{
	background: #f6fcfe;
	height: 100vh;
	float: left;
}
.navigation a.home-icon{
  width: 10%;
}
.navigation a {
    width: 15%;
    float: left;
    text-align: center;
    padding: 20px 10px;
    /*color: #ffffff;*/
    color: #000;
    font-weight: 700;
    text-decoration: none;
    font-size: 14px;
}
.navigation img{
	    width: 38px;
}
.right-text{
	border-top:2px solid #333333;
  /*padding:19% 0px !important;*/
	}
.image-outer{
  	/*background: url(../../images/image.jpg);*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*differed css*/
.tagline{
  text-align: center;
  padding: 20px 15px;
  font-style: italic;

}

li.icon_inner {
    /* display: inline; */
    /*width: 24.333% !important;*/
    /*float: left;*/
    list-style-type: none;
    text-align: center;
    padding: 20px;
    width: 22.333% !important;
    float: left;
    margin: 7px;
    background: rgb(255,255,255);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 29%, rgba(237,237,237,1) 40%, rgba(223,65,26,1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(247,247,247,1) 29%,rgba(237,237,237,1) 40%,rgba(223,65,26,1) 100%);
    background: radial-gradient(ellipse at center, rgb(255, 255, 255) 0%,rgba(247,247,247,1) 29%,rgb(255, 243, 243) 40%,rgb(238, 238, 238) 100%);
   
}
}
.top_what_we p{
  font-size: 1rem;
}
li.icon_inner img {
    max-width: 73px;
    /*filter: invert(31%);*/
}
h5.title_tagline {
 /*   border-bottom: 2px solid #73787e;
    display: inline-block;
    padding: 20px 0px 10px;
    color: #000000;*/


        /* border-bottom: 2px solid #73787e; */
    /* display: inline-block; */
    padding: 10px 15px 10px;
    color: #000000;
    background: #e9e0e0;
}
.what-we-do .text ul li{
      font-size: 12px;
    line-height: 1.8;
    letter-spacing: 0.3;
}
.what-we-do .text h5, .founding-team h5{
  font-size: 18px;
}

.founding-team p{
  font-size: 14px;
  line-height: 1.5;
    letter-spacing: 0.3;
}

 .text p.outer{
  border-top:2px solid #333333;padding:0px 0px;
}
 .text p{
  padding:0px 0px;
}

.about-page .right-text {
    border-top: 2px solid #333333;
    /*padding: 4% 0px !important;*/
}

.text{
      padding: 20px 40px;
      float: right;
      /*height: 80vh;*/
      height: 92%;
      overflow-x: auto;
      text-align: justify;
      position: relative;
}
.text ul{
  padding-left: 15px;
}
.text h3{

  color:#17375e;font-weight: 900;text-align: right;

}
.text h3 span{
  color:#0070c0;
}
.float-left{
  float: left;
}
.float-right{
  float:right;
}



.about img{
  width: 84%;vertical-align: middle;margin: 0 auto;display: block;

}
.navigation a.home{
  background:#e1f9ff;color:#00a0e3;
}
.navigation a.philosophy{
  background:#bcf2ff;color:#52dbfd;
}
.navigation a.what-we-do{
  background:#52dbfd;color:#52dbfd;
}
.navigation a.social{
  background:#00a0e3;
}
.navigation a.contact{
  background:#17375e;
}
.navigation a.founding{
  background:#52dbfd;
}

.philosophy p.outer{
  border-top:2px solid #333333;
  /*padding:4% 0px;*/
}
/*.what-we-do p.outer {
    padding: 7% 0px;
}*/
.social p.outer {
    /*padding: 18% 0px;*/
}
.contact p.outer {
    /*padding: 14% 0px;*/
    /*padding:0px;*/
}
.home img{
      width: 50px !important;
}

span.home{
    position: absolute;
    bottom: 8px;
    background: #e1f9ff;
    padding:19px 43px;
    left: 0;
}

.pull-left{
  text-align: left !important;
}

.social .text{
  /*height: auto !important;*/
}
.pull-right{
  float: right;
}
.photo_section .img-responsive{
      width: 100%;
}
.photo_section .img-responsive:hover{
    -webkit-box-shadow: 4px 4px 12px 4px #9b9b9b;
    box-shadow: 4px 4px 12px 4px #9b9b9b;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
.photo_section li{
      list-style: none;
}
.demo-gallery > ul > li a .demo-gallery-poster {
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.15s ease 0s;
    -o-transition: background-color 0.15s ease 0s;
    transition: background-color 0.15s ease 0s;
    display: none;
}
.photo_section #lightgallery li.col-md-4.col-xs-6.pull-right {
    padding-bottom: 10px;
    padding-left: 0px;
}

.founding-team .text h5{
  border-bottom: 1px solid #17375e;
    width: max-content;
    padding-bottom: 2px;
}

.founding-team .col-md-6.padding-zero.image-outer.float-left {
    padding: 73px 40px;
}

p.open_pro_link{
  float: left;  
}
.open_pro_link a{
  float: none!important;
  background: #dd6f56;
  padding: 5px 20px;
}

  @media only screen and (max-device-width: 1920px) and (max-device-height: 1080px) {
	.image-outer{
  	/*height: 92vh;*/
  }
  .image-outer img{
  	/*height: 100%;*/
  }  
  .about img{
  	    width: 100% !important;
  }
}

@media only screen and (max-device-width: 1900px) and (max-device-height: 1200px) {
	.image-outer{
  	/*height: 92vh;*/
  }
  .image-outer img{
  	/*height: 100%;*/
  }  
  .about img{
  	    width: 100% !important;
  }
  span.home {
        bottom: 18px;
    padding: 12px 54px;
}
}

@media only screen and (max-device-width: 1839px) and (max-device-height: 950px) {
  .image-outer{
  	/*height: 89vh;*/
  }
  .image-outer img{
  	/*height: 100%;*/
  }
  .about img{
  	        width: 87% !important;
  }
  span.home {
    bottom: 25px;
    padding: 9px 43px;
  }
}

@media only screen and (max-device-width: 1600px) and (max-device-height: 900px){
  footer {
      /*bottom: 14px !important;*/
  }
}

@media only screen and (max-device-width: 1600px) and (max-device-height: 769px){
  
}

@media only screen and (max-device-width: 1553px) and (max-device-height: 800px) {
  .image-outer{
  	    /*height: 87vh;*/
  }
  .image-outer img{
  	/*height: 100%;*/
    height: auto !important;
  }
  .about img{
  	    width: 98% !important;
  }
  span.home {
    bottom: 26px;
    padding: 17px 43px;
  }
}


@media only screen and (max-device-width: 1440px) and (max-device-height: 900px){
  .image-outer {
    /*height: 91vh;*/
}
span.home {
    bottom: 2px;
    padding: 24px 43px;
}
.founding-team .col-md-6.padding-zero.image-outer.float-left {
    padding: 68px 40px;
}
}

@media only screen and (max-device-width: 1366px) and (max-device-height: 678px){
  .right-text{
  	padding: 13% 0px;  	
  }
  .about img{
  	    width: 100%;
  }
  .founding-team p {
    font-size: 13px;
  }
  span.home {
    bottom: -16px;
    padding: 25px 43px;
  }
  .founding-team .col-md-6.padding-zero.image-outer.float-left {
    padding: 46px 40px 0px 40px;/*73px 40px;*/
  }
}

@media(max-width: 1301px){
  .about img{
  	    width: 98% !important;
  }
span.home {
    bottom: -6px;
    padding: 23px 43px;
}
.home img{
      width: 30px !important;
}
.founding-team .col-md-6.padding-zero.image-outer.float-left {
    padding: 44px 40px 0px 40px;
}
}


@media only screen and (max-device-width: 1280px) and (max-device-height: 950px){
  .image-outer {
    /*height: 91vh;*/
}
span.home {
    bottom: 9px;
    padding: 22px 43px;
}
.founding-team .text {
    padding: 1px 40px;
    }
}

@media only screen and (max-device-width: 1280px) and (max-device-height: 800px){
  .image-outer {
    /*height: 90vh;*/
}
span.home {
    bottom: 2px;
    padding: 20px 43px;
}
.founding-team .text {
    padding: 1px 40px;
    }
}



@media only screen and (max-device-width: 1279px) and (max-device-height: 670px) {
  .image-outer {
    /*height: 88vh;*/
}
.founding-team p {
    font-size: 13px;
    line-height: 1.4;
}
span.home {
    bottom: 0px;
    padding: 23px 43px;
}
.founding-team .text {
    padding: 1px 40px;
    }
}

@media only screen and (max-device-width: 1226px) and (max-device-height: 632px) {
  .right-text {
    	padding: 8% 0px;
	}
	.about img{
  	    width: 100%;
  }
  .navigation a {
    font-size: ;
}
.founding-team p {
    font-size: 13px;
    line-height: 1.3;
}
.text{
      padding: 20px 20px;
}
.founding-team .text {
    /*padding: 2px 20px;*/
    padding: 2px 38px;

}
span.home {
    bottom: -3px;
    padding: 23px 43px;
}
.home img{
      width: 30px !important;
}
}

@media only screen and (max-device-width: 1200px) and (max-device-height: 600px) {
  .right-text {
    padding: 0% 0px;
	}
	.image-outer {
    height: 87vh;
}
.founding-team p {
    font-size: 12px;
    line-height: 1.3;
}
}


.logo_inner{
    /*margin-right: 20px;*/
    max-width: 25%;
    /*border-right: 1px solid gainsboro;*/
    /*padding-right: 20px;*/
}
.navigation{
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
}
.philo_text{
  display: none;
}
.philo_img{
  display: block;
  max-width: 100%;
  text-align: center;
  margin:0 auto;
}

.fin_text {
    height: 70px;
}
/** custom responsive css
-------------------------------------**/
@media screen and (max-width: 768px){
  a.btn_contact{
    display: block;
  }
  p.open_pro_link{
    float: none;
  }

  li.icon_inner{
        width: 100%!important;
  }
    .about{
      display: none;
    }

    .navigation{
      position: fixed;
      z-index: 999;
      top: 0;
      width: 70%;
      transform: translateX(-540px);
      transition: 0.5s ease;
      -webkit-transition: 0.5s ease;
      -moz-transition: 0.5s ease;
      -o-transition: 0.5s ease;
    }
    .side_nav{
      z-index: 999999;
      transform: translateX(0px);
      transition: 0.5s ease;
      -webkit-transition: 0.5s ease;
      -moz-transition: 0.5s ease;
      -o-transition: 0.5s ease;
    }
    .navigation a {
      width: 100% !important;
      float: none;
      text-align: left;
      padding: 20px;
      color: #ffffff;
      font-weight: 700;
      text-decoration: none;
      display: inline-block;
      border-bottom: 1px solid #b5b5b5;    
    }

    .hamburger{
      position: fixed;
      right: 4%;
      z-index: 999;
      top: 2%;
      background: #000;
      padding: 10px;
    }
    span.icon_bar {
      background: white;
      display: block;
      height: 3px;
      width: 35px;
      margin-bottom: 5px;
  }
  .logo_inner{
    margin-right: 0px;
    max-width: 100%;
    border-right: none;
    padding-right: 0px;
    padding-left: 12px;
    width: 200px;
  }
  .text h3{
    text-align: center;
  }
  .outer{
    padding:0px !important;
  }

  .text{
    height: auto !important;
    padding-bottom: 60px;
  }

  .philo_text{
    display: block;
  }
  .philo_img{
    display: none;
  }
  .desktop_footer{
    display: none !important;
  }
  .mobile_footer{
    display: block !important;
    /*position: absolute;*/
    z-index: 9999;
    bottom: 0;
    width: 100%;
    background: #000;

  }
  .copyright_text p{
    margin-top:0px;
  }
  .founding-team h5 {
        margin: 0 auto;
    display: block;
}
.founding-team h3{
  text-align: center !important;
}
.founding-team .logo_inner {
    max-width: 60% !important;
}


}

.accordion{
  margin-bottom: 30px;
}
.accordion a{
  text-decoration: none !important
}
.card-header h5{
  font-size: 14px !important;
  color: #fff;
  width: 95%;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    background: rgba(0, 112, 192, 0.8117647058823529);
}
i.fa.fa-angle-down.rotate-icon {
    float: right;
    position: absolute;
    right: 10px;
    top: 15px;
    margin-left: 30px;
}

.desktop_footer {
    background: #000;
    display: block;
    width: 100%;
    /*float: none;
    position: absolute;
    bottom: 0;
    left: 0;*/
    padding: 18px;
}
.mobile_footer{
  display: none;
}
.copyright_text{
    padding: 3px;
    text-align: center;
}
.copyright_text p{
  font-size: 12px;
  color: #fff;
  margin-bottom: 0px;
  display: inline-block;
  margin-top: 10px;
}
.copyright_text a{
    color: #fff;
    text-decoration: none !important;
}


@media screen and (min-width: 1024px) and (max-width: 1280px){
    .text{
      height: 84% !important;
    }
    .navigation a{
      font-size:11px;
    }
     li.icon_inner{
    width: 30.333% !important;
  }
  .fin_text {
    height: 90px;
}
}

@media screen and (min-width: 1281px) and (max-width:1366px){
  .text{
    height: 80% !important;
  }
  .founding-team .text {
    padding: 0px 40px;
  }

     li.icon_inner{
    width: 30.333% !important;
  }
  .fin_text {
    height: 90px;
    }
}

/*newly added*/

.home-icon{
  background-color: #fff;
}
.about_icon{
  background-color: #dbc7c2;
}
.philosophy_icon{
  background-color: #D6BBB4;
}
.what_icon{
  background-color: #D9A598;
}
.team_icon{
  background-color: #DC8D7C;
}
.social_icon{
  background-color: #DD6F56;
}
.contact_icon{
  background-color: #DF411A;
}


img.img_irm {
    padding: 0px 0px 10px 44px!important;
}
.list_irm li{
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.3;
}

.irm_block p {
    margin-bottom: 10px!important;
    line-height: initial;
}

.irm_block .text h5{
       margin-top: 30px;
}
p.link a {
    color: #df411a;
}
a.btn_contact {
/*  float: right;
    padding: 5px 0px!important;
    background: #dd6f56!important;
    margin: 4px!important;
    color: #fff!important;*/

   float: right;
    /* margin-top: 72px; */
    padding: 14px 25px!important;
    /* background: #dd6f56!important; */
    margin: 3px!important;
    /* color: #fff!important; */
    /* display: inline-block; */
    position: relative;
    /*margin: 0 auto 15px;*/
    padding: 11px 25px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #fcfcfc !important;
    border-radius: 30px;
    border: 1px solid #fcfcfc !important;
    width: initial;
}
a.contact_icon img {
    padding: 8px;
    filter: invert(21%);
}

 img.irm_img_big {
    padding: 16px;
    filter: invert(21%);
}
.table_reg table td{
    /*border:1px solid #333;*/
    /*background: #F9F1F1;    */
    background: rgb(255,255,255);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 29%, rgba(237,237,237,1) 40%, rgba(223,65,26,1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(247,247,247,1) 29%,rgba(237,237,237,1) 40%,rgba(223,65,26,1) 100%);
    background: radial-gradient(ellipse at center, rgb(255, 255, 255) 0%,rgba(247,247,247,1) 29%,rgb(255, 243, 243) 40%,rgb(238, 238, 238) 100%);

    border: 1px solid #333; 
    /* background: #F9F1F1; */
    /*background: rgb(253, 239, 239);*/
    border: 8px solid #fff!important;
    padding: 20px 20px;
    box-shadow: -1px -1px 8px #000;
}
.content_block {
    padding: 20px;
    margin-top: 32px;
    background: #f4e7e7;
}
span.full_day {
    background: #df411a;
    color: #fff;
    padding: 2px 10px;
}
i.calener_icon {
    color: #a4a0a0;
}
span.seats {
    color: #dd6f56;
    font-weight: 700;
    border-right: 1px solid #c1c1c1;
        padding-right: 10px;
}

@media screen and (max-width: 768px){
  .text{
    padding: 10px;
  }
  a.btn_contact{
    float:none;
    margin: 10px 25px!important;
  }
  .copyright_text p{
    padding: 10px;
  }
  .what-we-do .text ul li{
    display: block;
    float: none;
    margin: 7px 0px;
  }
  .text ul{
    padding-left: 0px;
  }
}
@media screen and (max-width: 320px){
  .copyright_text a{
      display: block;
  }
}


/*new program*/

.top_nav {
    background: #000;
    /*position: relative;*/
    /* padding: 10px 0px 0px; */

}

ul.top_nav_list li {
    /* float: left; */
    padding: 2px 21px;
    list-style-type: none;
    display: inline-block;
}
ul.top_nav_list li a i {
    margin-right: 5px;
}

ul.top_nav_list li a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
}

ul.top_nav_list {
    padding: 10px;
    margin-bottom: 0px;
    text-align: right;
}
section.irm_about {
  padding: 80px 0px;
  /*background: #F4E7E7;*/
  background: #fff;
  /* border-top: 9px solid #000; */
}
.til_pro{
  margin-bottom: 45px;
}
.section_inner{
  padding: 80px 0px;
}
.event_block {    
  border-top: 5px solid #c1c1c1;
  padding: 20px 50px;
  width: 46%;
  margin: 1% 2%;
  background: #fff;
  float: left;
  box-shadow: 0px 2px 7px #828282;
}
.date {
    padding: 20px 0px;
    border-bottom: 1px solid #c9bcbc;
    /*text-align: right;*/
}
section.about_london a {
    color: #dd6f56;
}

.patch {
    padding: 20px 0px;
}
.section_batch{
  height: 600px;
  /*background: #F4E7E7;*/
}
.about_london{
 background: #F4E7E7;
 padding: 80px 0px;
}
.til_pro:after{
  position: absolute;
  content: "";
  bottom: -20px;
  left: 50%;
  border-bottom: 3px solid #ee4023;
  width: 70px;
  display: inherit;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.fixed_nav {
  position: fixed;
  display: block;
  width: 100%;
  z-index: 99;
  top:0px;
  animation: anim 1s;
}
@keyframes anim{
  0%{opacity:0;}
  25%{opacity:0.2;}
  50%{opacity:0.4;}
  75%{opacity:0.8;}
  100%{opacity:1;}
  }

    .form_block .form-control{
      display: inline-block;
      width: 60%;
      height: 38px;
    }
 .note {
    border: 1px solid #ced4da;
    border-radius: 2px;
  }
  .div_form {
    height: 859px;
    overflow: auto;
    display: block;
}

.img_form{
 /* position: sticky;
  top: 50px;*/
}
.go_home{
  color:#dd6f56;
  text-decoration: none;
  float: right;
  padding: 10px 20px;
}
.go_home:hover{
  color:#000;
}
span.error{
  color: red;
}
.error{
  border-color: red;
}
    .form_block {
        padding: 40px;
        margin: 10px;
        border: 1px solid #dcd7d7;
    }
    h4.tit_form {
        margin-bottom: 30px;
    }
    .dwnld{
      float:left;
    }
    .btn_steps{
      display: none;
    }
    a.btn.btn-info.btn_steps {
    position: fixed;
    right: 0px;
    top: 150px;
    z-index: 0999;
}


/*career page*/
.right_career {
    /*padding: 30px;*/
    /*background: #f7f7f7;*/
}

.single_job {
    background: #fff;
    border-left: 4px solid #df411a;
    padding: 10px 20px;
    margin:15px 0px;
    box-shadow: 0px 3px 2px #d2cfcf;
    min-height: 120px;
}

.job_name {
    font-size: 18px;
    color: #1b1b1b;
    text-align: left!important;
}
h2.job_title {
    color: #000;
}
p.job_desc span {
    padding: 10px 5px;
    /* margin-left: 5px; */
}

.job_desc {
    color: #989898;
    margin-top: 16px;
    font-size: 13px;
}
.filter_block .panel-title{
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    padding: 10px 0px;
    letter-spacing: 1px;
    border-bottom: 1px solid #040404;
}
.filter_block .panel-body ul li{
    padding: 5px;
    border-bottom: 1px solid gainsboro;
    list-style-position: inside;
    list-style-type: square;
    color: #433f3d;
}
.filter_block .panel-body ul{
    max-height: 300px;
    overflow: auto;
}
.left_career{
  background: #f7f7f7;
}
button.btn.btn-filter {
    background: #df411a;
    color: #fff;
    padding:5px 20px;
    margin-top: 20px; 
  }
p.job_des
 {
    color: #989898;;
    font-size:13px;
}

.filter_block .form-control{
    border-radius: 0px;
}
.filter_block {
    /*background: #f7f7f7;*/
    padding: 20px 20px;
    max-height: 900px;
    overflow-y: auto;

}
h4.til_filter {
    margin: 20px 0px;
    padding-bottom: 20px;
    color: #433f3d;
    border-bottom: 1px solid #d9a598;
        /*text-align: center;*/   
}
.inside_job {
    vertical-align: middle;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}
 .fil_btn{
    background: #dd6f56;
    border: 0px;
    color: #fff;
    padding: 3px 24px;
}
.filter_block .panel-heading a {
    font-size: 16px;
    color: #433f3d;
    text-transform: uppercase;
}
span.text-small {
    font-size: 13px;
    color: #7f7575;
}
.page_top {
    padding: 30px;
    border: 1px solid gainsboro;
    box-shadow: 0px 2px 2px #a59494;
    margin:20px;
}
p.job_desc i {
    margin: 2px 5px;
}

@media screen and (max-width: 768px){
  .event_block{
    width: 100%;
  }
  .section_batch{
    height: 1100px;
  }
  ul.top_nav_list{
    text-align: center;
  }
  ul.top_nav_list li{
    padding:6px 2px;
  }  
 .container.pro_logo{
      display: block!important;
  }
  .form_block {
    padding: 0px;
    margin-bottom: 20px;
    border: none;
  }
  .dwnld{
      float:none;
  }
  .form_block .form-control{
      display:block;
      width: 100%;
  }
  .img_form{
    display: none;
  }
  .btn_steps{
    display: block;
  }
}

@media screen and (min-width: 1400px){
  .single_job{
    min-height: initial;
  }
}
.irm_pro_new .open_pro_link{
 visibility: hidden;
}
