.padding-zero{
	padding:0px;
}
.about{
	background: #f6fcfe;
	height: 100vh;
	float: left;
}
.navigation a {
    width: 20%;
    float: left;
    text-align: center;
    padding: 20px;
    color:#ffffff;
    font-weight:700;
    text-decoration: none;
}
.navigation img{
	    width: 38px;
}
.right-text{
	border-top:2px solid #333333;padding:19% 0px;
	}
	/*.about img{
  	    width: 84% ;
  }*/
  .image-outer{
  	    background: url(../../images/image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media only screen and (max-device-width: 1920px) and (max-device-height: 1080px) {
	.image-outer{
  	height: 92vh;
  }
  .image-outer img{
  	height: 100%;
  }  
  .about img{
  	    width: 100% !important;
  }
}

@media only screen and (max-device-width: 1900px) and (max-device-height: 1200px) {
	.image-outer{
  	height: 92vh;
  }
  .image-outer img{
  	height: 100%;
  }  
  .about img{
  	    width: 100% !important;
  }
}

@media only screen and (max-device-width: 1839px) and (max-device-height: 950px) {
  .image-outer{
  	height: 89vh;
  }
  .image-outer img{
  	height: 100%;
  }
  .about img{
  	        width: 87% !important;
  }
}

@media only screen and (max-device-width: 1600px) and (max-device-height: 769px){
  
}

@media only screen and (max-device-width: 1553px) and (max-device-height: 800px) {
  .image-outer{
  	    height: 87vh;
  }
  .image-outer img{
  	height: 100%;
  }
  .about img{
  	    width: 98% !important;
  }
}


@media only screen and (max-device-width: 1440px) and (max-device-height: 900px){
  .image-outer {
    height: 91vh;
}
}

@media only screen and (max-device-width: 1366px) and (max-device-height: 678px){
  .right-text{
  	padding: 13% 0px;  	
  }
  .about img{
  	    width: 100%;
  }
}

@media(max-width: 1301px){
  .about img{
  	    width: 98% !important;
  }
}


@media only screen and (max-device-width: 1280px) and (max-device-height: 950px){
  .image-outer {
    height: 91vh;
}
}

@media only screen and (max-device-width: 1280px) and (max-device-height: 800px){
  .image-outer {
    height: 90vh;
}
}



@media only screen and (max-device-width: 1279px) and (max-device-height: 670px) {
  .image-outer {
    height: 88vh;
}
}

@media only screen and (max-device-width: 1226px) and (max-device-height: 632px) {
  .right-text {
    	padding: 8% 0px;
	}
	.about img{
  	    width: 100%;
  }
  .navigation a {
    font-size: ;
}
}

@media only screen and (max-device-width: 1200px) and (max-device-height: 600px) {
  .right-text {
    padding: 0% 0px;
	}
	.image-outer {
    height: 87vh;
}
}




/*differed css*/
.what-we-do .text ul li{
	    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.3;
}
.what-we-do .text h5, .founding-team h5{
	font-size: 18px;
}

.founding-team p{
  font-size: 13px;
}


/** custom responsive css
-------------------------------------**/
@media screen and (max-width: 768px){
  .about{
    display: none;
  }

  .navigation{
    position: fixed;
    z-index: 999;
    top: 0;
    transform: translateX(-260px);
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
  }
  .navigation a {
    width: 60%;
    float: none;
    text-align: center;
    padding: 20px;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;    
  }
  .hamburger{
    position: fixed;
    right: 4%;
    z-index: 999;
    top: 2%;
    background: #000;
    padding: 10px;
  }
  span.icon_bar {
    background: white;
    display: block;
    height: 3px;
    width: 35px;
    margin-bottom: 5px;
}

}